* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'AdiHaus';
    src: url('https://assets.codepen.io/6060109/adihaus_regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: "AdiHaus";
    src: url("https://assets.codepen.io/6060109/adihaus_bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
  }

body, html {
    min-height: 100vh;
    min-width: 100%;
    margin: 0;
    font-family: 'AdiHaus';
    background: #fff url(https://assets.codepen.io/6060109/waves.png) center center/cover no-repeat;
}

body {
    display: flex;
}

.all_container {
    max-width: 450px;
    margin: 0 auto;
}

#logo {
    margin: 15px auto;
   
    display: block;
}

#shoe_mobile {
    background: url('https://assets.codepen.io/6060109/mobile-shoes.jpg') center center/ auto no-repeat;
    height: 250px;
    width: 100%;
}

.all-content-container {
    padding: 20px 30px;
}

.text-content-container {
    text-align: center;
    width: 100%;
}

h2, p {
    margin: 0;
}

h2 {
    font-size: 48px;
    letter-spacing: 2px;
    font-weight: 700;
    text-transform: uppercase;
}

h2:nth-child(1) {
    color: #4080CE;
    font-weight: 400;
    display: block;
}

p {
   line-height: 28px;
   margin: 20px 0 40px;
   color: #111010;
}

form {
    display: flex;
    margin-top: 10px;
}

input[type="email"] {
  width: 75%;
  padding: 0 20px;
  height: 50px;
  box-sizing: border-box;
}

input[type="submit"] {
    width: 20%;
    height: 50px;
    box-sizing: border-box;
    background: rgb(2,0,36);
    background: linear-gradient(273deg, rgba(2,0,36,1) 0%, rgba(51,49,50,1) 35%, rgba(118,118,118,1) 100%);
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    -webkit-box-shadow: 10px 12px 10px -5px rgba(0,0,0,0.18);
-moz-box-shadow: 10px 12px 10px -5px rgba(0,0,0,0.18);
box-shadow: 10px 12px 10px -5px rgba(0,0,0,0.18);
}


.desktop-image{
    display: none;
}

@media screen and (min-width: 768px) {
    
    body {
    height: 100vh;
   
} 
   .all_container {
    width: 50%;
   }

   .text-content-container {
    text-align: left;
   }

   #shoe_mobile {
    display: none;
   }

   .desktop-image {
    display: block;
    width: 50%;
    background:  url('https://assets.codepen.io/6060109/shoes.png') center center/cover no-repeat;
   }

   h2 {
    font-size: 64px;
   }

   #logo {
    margin: 30px 30px 100px;
    display: block;
   }
 }
